
/vendor
/composer.lock
/public/index.php

# temp
/app/temp/cache/*
!/app/temp/cache/README.md
/app/temp/logs/*
!/app/temp/logs/README.md
/app/temp/mpdf/*
/app/temp/psalm

# custom configs
phpunit.xml

# IDEs
.vscode/
.idea/
/nbproject

# Mac filesystem dust
.DS_Store
