@page {
    background-color:#fff;
    header: html_myHeader1;
    footer: html_myFooter1;
    margin-left: 25mm; /* <any of the usual CSS values for margins> */
    margin-top: 35mm;
    margin-right: 10mm;
}

body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.6;
    font-weight: 400;
    color: #222;
}

#page-header p {
    margin-top: 0;
}

#page-footer {
    width: 100%;
    border-top: 1px dotted grey;
    font-size: 0.9em;
    font-style: italic;
}

#printed-date, #page-number {
    width: 50%; 
    float: left;
}

#page-number {
    text-align: right;
}

.report {
    border-collapse: collapse;
    width: 100%;
}

.caption {
    font-size: 2em;
    font-weight: bold;
}

.report th,
.report td {
    padding: 5px;
    text-align: left;
    border: 1px solid #eee;
}
